@import url(../../Downloads/Poppins/Poppins-ExtraLightItalic.ttf);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.portfoliocontainer {
    min-height: 100vh;
    width: 100%;
    display: flex; /* Flex container */
    flex-direction: row; /* Row layout for left and right containers */
}

.navlist {
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}

.leftcontainer {
    background-color: #262525; /* Black */
    width: 70%; /* Left container takes 70% of the width */
    height: 100vh; /* Full height */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;
}

.rightcontainer {
    background: linear-gradient(-45deg, #3877FF, #262525 70%); 
    width: 30%; /* Right container takes 30% of the width */
    height: 100vh; /* Full height */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.icons .fa-brands {
    color: #bbb;
    font-size: 1.7rem;
}

.icons .fa-brands:hover {
    cursor: pointer;
    background: linear-gradient(#fff, #3877FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    text-align: center;
}

.content .intro {
    font-size: 1.5rem;
    color: #fff;
}

.content .intro span {
    color: #3877FF;
}

.content h2 {
    font-size: 3rem;
    text-align: center;
    padding-left: 80px;
    color: rgb(119, 0, 255);
}

.design .circle{
    aspect-ratio: 1.3;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 38rem; 
}

.circle:nth-child(2){
    width: 30rem;
    background-image: url("image/me.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border: .5rem solid white;
    box-shadow: 
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877FF,
    inset 0 0 2rem #3877FF,
    0 0 4rem #3877FF,
    inset 0 0 4rem #3877FF;
}

.navlist li a::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}

.navlist li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.skill h1{
    color: black;
    text-align: center;
}

.skill h3{
    color: black;
    margin: 5px;  
}

.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px  rgba(0, 0, 0.25), 0 10px 10px rgba(0,0, 0, 0.22);
}

.skill li{
    margin: 20px 0;
    padding: 5px;
}

.bar{
    background: #353B48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px  rgba(0, 0, 0.12), 0 10px 10px rgba(0,0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
    box-shadow: 0 14px 28px  rgba(0, 0, 0.25), 0 10px 10px rgba(0,0, 0, 0.22);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140,1)0%, rgba(252, 103, 103, 1)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}

.python{
    width: 90%;
    animation: python 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
.bg{
    background-color: black;
}

.about h1{
    padding-top: 20px;
}

.about h4,p{
    padding-top: 8px;
}


.about{
    background-color: black;
    color: #fff;
    text-align: center;
}
.contacts{
    margin-top: 20px;
    background-color: black;
    color: #fff;
}

.portfoliocontainer{
    flex-wrap: wrap;
}

.skill{
    flex-wrap: wrap;
}

.about{
    flex-wrap: wrap;
}

.contacts{
    flex-wrap: wrap;
}